In [1]:
import pandas as pd
import numpy as np
import re

In [2]:
df = pd.read_excel('historical_rules_commit5_197reg_021.xlsx', keep_default_na=False)
#df = pd.read_excel(HISTORICAL_RULES_FILE , keep_default_na=False)
df2 = df.copy()
len(df)
#df.head()
df2

,antecedents,consequents,antecedent support,consequent support,support,confidence,lift,leverage,conviction,antecedent_len,consequente_len
0,frozenset({'Firebird'}),frozenset({'Informix'}),0.025381,0.030457,0.025381,1.000000,32.833333,0.024608,inf,1,1
1,frozenset({'Informix'}),frozenset({'Firebird'}),0.030457,0.025381,0.025381,0.833333,32.833333,0.024608,5.847716,1,1
2,frozenset({'Firebird'}),frozenset({'SAP Adaptive Server'}),0.025381,0.060914,0.025381,1.000000,16.416667,0.023835,inf,1,1
3,frozenset({'SapHana'}),frozenset({'SAP Adaptive Server'}),0.025381,0.060914,0.025381,1.000000,16.416667,0.023835,inf,1,1
4,frozenset({'SAP Adaptive Server'}),frozenset({'Firebird'}),0.060914,0.025381,0.025381,0.416667,16.416667,0.023835,1.670776,1,1
...,...,...,...,...,...,...,...,...,...,...,...
273,frozenset({'H2'}),frozenset({'Ehcache'}),0.243655,0.182741,0.060914,0.250000,1.368056,0.016388,1.089679,1,1
274,frozenset({'MySQL'}),frozenset({'Ehcache'}),0.411168,0.182741,0.096447,0.234568,1.283608,0.021309,1.067709,1,1
275,frozenset({'Ehcache'}),frozenset({'MySQL'}),0.182741,0.411168,0.096447,0.527778,1.283608,0.021309,1.246939,1,1
276,frozenset({'Redis'}),frozenset({'MS SQL Server'}),0.152284,0.131980,0.025381,0.166667,1.262821,0.005282,1.041624,1,1
277,frozenset({'MS SQL Server'}),frozenset({'Redis'}),0.131980,0.152284,0.025381,0.192308,1.262821,0.005282,1.049553,1,1

In [3]:
df3 = df.copy()
df3

,antecedents,consequents,antecedent support,consequent support,support,confidence,lift,leverage,conviction,antecedent_len,consequente_len
0,frozenset({'Firebird'}),frozenset({'Informix'}),0.025381,0.030457,0.025381,1.000000,32.833333,0.024608,inf,1,1
1,frozenset({'Informix'}),frozenset({'Firebird'}),0.030457,0.025381,0.025381,0.833333,32.833333,0.024608,5.847716,1,1
2,frozenset({'Firebird'}),frozenset({'SAP Adaptive Server'}),0.025381,0.060914,0.025381,1.000000,16.416667,0.023835,inf,1,1
3,frozenset({'SapHana'}),frozenset({'SAP Adaptive Server'}),0.025381,0.060914,0.025381,1.000000,16.416667,0.023835,inf,1,1
4,frozenset({'SAP Adaptive Server'}),frozenset({'Firebird'}),0.060914,0.025381,0.025381,0.416667,16.416667,0.023835,1.670776,1,1
...,...,...,...,...,...,...,...,...,...,...,...
273,frozenset({'H2'}),frozenset({'Ehcache'}),0.243655,0.182741,0.060914,0.250000,1.368056,0.016388,1.089679,1,1
274,frozenset({'MySQL'}),frozenset({'Ehcache'}),0.411168,0.182741,0.096447,0.234568,1.283608,0.021309,1.067709,1,1
275,frozenset({'Ehcache'}),frozenset({'MySQL'}),0.182741,0.411168,0.096447,0.527778,1.283608,0.021309,1.246939,1,1
276,frozenset({'Redis'}),frozenset({'MS SQL Server'}),0.152284,0.131980,0.025381,0.166667,1.262821,0.005282,1.041624,1,1
277,frozenset({'MS SQL Server'}),frozenset({'Redis'}),0.131980,0.152284,0.025381,0.192308,1.262821,0.005282,1.049553,1,1

In [4]:
antecedents_list = list(df3['antecedents'])
consequents_list = list(df3['consequents'])

In [5]:
def extract_strings(my_list):
    sampleList = my_list
    str_found_list = []

    try:
        marker = '\''
        regexPattern = marker + '(.+?)' + marker
        for item in sampleList:
            str_item = str(item)
            if re.search(regexPattern, str_item):
                str_found_list.append(re.search(regexPattern, str_item).group(1))
            else:
                str_found_list.append('Nothing found between two markers')
    except:
        str_found_list.append('Error occurred')

    return str_found_list

antecedents_list = extract_strings(antecedents_list)
consequents_list = extract_strings(consequents_list)

In [6]:
df3['antecedents'] = np.resize(antecedents_list, len(df3))
df3['consequents'] = np.resize(consequents_list, len(df3))
df3

,antecedents,consequents,antecedent support,consequent support,support,confidence,lift,leverage,conviction,antecedent_len,consequente_len
0,Firebird,Informix,0.025381,0.030457,0.025381,1.000000,32.833333,0.024608,inf,1,1
1,Informix,Firebird,0.030457,0.025381,0.025381,0.833333,32.833333,0.024608,5.847716,1,1
2,Firebird,SAP Adaptive Server,0.025381,0.060914,0.025381,1.000000,16.416667,0.023835,inf,1,1
3,SapHana,SAP Adaptive Server,0.025381,0.060914,0.025381,1.000000,16.416667,0.023835,inf,1,1
4,SAP Adaptive Server,Firebird,0.060914,0.025381,0.025381,0.416667,16.416667,0.023835,1.670776,1,1
...,...,...,...,...,...,...,...,...,...,...,...
273,H2,Ehcache,0.243655,0.182741,0.060914,0.250000,1.368056,0.016388,1.089679,1,1
274,MySQL,Ehcache,0.411168,0.182741,0.096447,0.234568,1.283608,0.021309,1.067709,1,1
275,Ehcache,MySQL,0.182741,0.411168,0.096447,0.527778,1.283608,0.021309,1.246939,1,1
276,Redis,MS SQL Server,0.152284,0.131980,0.025381,0.166667,1.262821,0.005282,1.041624,1,1
277,MS SQL Server,Redis,0.131980,0.152284,0.025381,0.192308,1.262821,0.005282,1.049553,1,1