In [66]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [2]:
df = pd.read_excel('historical_rules_commit5_197reg_021.xlsx', keep_default_na=False)
#df = pd.read_excel(HISTORICAL_RULES_FILE , keep_default_na=False)
df2 = df.copy()
len(df)
#df.head()
df2

,antecedents,consequents,antecedent support,consequent support,support,confidence,lift,leverage,conviction,antecedent_len,consequente_len
0,frozenset({'Firebird'}),frozenset({'Informix'}),0.025381,0.030457,0.025381,1.000000,32.833333,0.024608,inf,1,1
1,frozenset({'Informix'}),frozenset({'Firebird'}),0.030457,0.025381,0.025381,0.833333,32.833333,0.024608,5.847716,1,1
2,frozenset({'Firebird'}),frozenset({'SAP Adaptive Server'}),0.025381,0.060914,0.025381,1.000000,16.416667,0.023835,inf,1,1
3,frozenset({'SapHana'}),frozenset({'SAP Adaptive Server'}),0.025381,0.060914,0.025381,1.000000,16.416667,0.023835,inf,1,1
4,frozenset({'SAP Adaptive Server'}),frozenset({'Firebird'}),0.060914,0.025381,0.025381,0.416667,16.416667,0.023835,1.670776,1,1
...,...,...,...,...,...,...,...,...,...,...,...
273,frozenset({'H2'}),frozenset({'Ehcache'}),0.243655,0.182741,0.060914,0.250000,1.368056,0.016388,1.089679,1,1
274,frozenset({'MySQL'}),frozenset({'Ehcache'}),0.411168,0.182741,0.096447,0.234568,1.283608,0.021309,1.067709,1,1
275,frozenset({'Ehcache'}),frozenset({'MySQL'}),0.182741,0.411168,0.096447,0.527778,1.283608,0.021309,1.246939,1,1
276,frozenset({'Redis'}),frozenset({'MS SQL Server'}),0.152284,0.131980,0.025381,0.166667,1.262821,0.005282,1.041624,1,1
277,frozenset({'MS SQL Server'}),frozenset({'Redis'}),0.131980,0.152284,0.025381,0.192308,1.262821,0.005282,1.049553,1,1

In [44]:
df3 = df.copy()
df3

,antecedents,consequents,antecedent support,consequent support,support,confidence,lift,leverage,conviction,antecedent_len,consequente_len
0,frozenset({'Firebird'}),frozenset({'Informix'}),0.025381,0.030457,0.025381,1.000000,32.833333,0.024608,inf,1,1
1,frozenset({'Informix'}),frozenset({'Firebird'}),0.030457,0.025381,0.025381,0.833333,32.833333,0.024608,5.847716,1,1
2,frozenset({'Firebird'}),frozenset({'SAP Adaptive Server'}),0.025381,0.060914,0.025381,1.000000,16.416667,0.023835,inf,1,1
3,frozenset({'SapHana'}),frozenset({'SAP Adaptive Server'}),0.025381,0.060914,0.025381,1.000000,16.416667,0.023835,inf,1,1
4,frozenset({'SAP Adaptive Server'}),frozenset({'Firebird'}),0.060914,0.025381,0.025381,0.416667,16.416667,0.023835,1.670776,1,1
...,...,...,...,...,...,...,...,...,...,...,...
273,frozenset({'H2'}),frozenset({'Ehcache'}),0.243655,0.182741,0.060914,0.250000,1.368056,0.016388,1.089679,1,1
274,frozenset({'MySQL'}),frozenset({'Ehcache'}),0.411168,0.182741,0.096447,0.234568,1.283608,0.021309,1.067709,1,1
275,frozenset({'Ehcache'}),frozenset({'MySQL'}),0.182741,0.411168,0.096447,0.527778,1.283608,0.021309,1.246939,1,1
276,frozenset({'Redis'}),frozenset({'MS SQL Server'}),0.152284,0.131980,0.025381,0.166667,1.262821,0.005282,1.041624,1,1
277,frozenset({'MS SQL Server'}),frozenset({'Redis'}),0.131980,0.152284,0.025381,0.192308,1.262821,0.005282,1.049553,1,1

In [58]:
antecedents_list = list(df3['antecedents'])
consequents_list = list(df3['consequents'])

In [59]:
import re

def extract_strings(my_list):
    sampleList = my_list
    str_found_list = []

    try:
        marker = '\''
        regexPattern = marker + '(.+?)' + marker
        for item in sampleList:
            str_item = str(item)
            if re.search(regexPattern, str_item):
                str_found_list.append(re.search(regexPattern, str_item).group(1))
            else:
                str_found_list.append('Nothing found between two markers')
    except:
        str_found_list.append('Error occurred')

    return str_found_list

antecedents_list = extract_strings(antecedents_list)
consequents_list = extract_strings(consequents_list)

In [69]:
df3['antecedents'] = np.resize(antecedents_list, len(df3))
df3['consequents'] = np.resize(consequents_list, len(df3))
df3

,antecedents,consequents,antecedent support,consequent support,support,confidence,lift,leverage,conviction,antecedent_len,consequente_len
0,Firebird,Informix,0.025381,0.030457,0.025381,1.000000,32.833333,0.024608,inf,1,1
1,Informix,Firebird,0.030457,0.025381,0.025381,0.833333,32.833333,0.024608,5.847716,1,1
2,Firebird,SAP Adaptive Server,0.025381,0.060914,0.025381,1.000000,16.416667,0.023835,inf,1,1
3,SapHana,SAP Adaptive Server,0.025381,0.060914,0.025381,1.000000,16.416667,0.023835,inf,1,1
4,SAP Adaptive Server,Firebird,0.060914,0.025381,0.025381,0.416667,16.416667,0.023835,1.670776,1,1
...,...,...,...,...,...,...,...,...,...,...,...
273,H2,Ehcache,0.243655,0.182741,0.060914,0.250000,1.368056,0.016388,1.089679,1,1
274,MySQL,Ehcache,0.411168,0.182741,0.096447,0.234568,1.283608,0.021309,1.067709,1,1
275,Ehcache,MySQL,0.182741,0.411168,0.096447,0.527778,1.283608,0.021309,1.246939,1,1
276,Redis,MS SQL Server,0.152284,0.131980,0.025381,0.166667,1.262821,0.005282,1.041624,1,1
277,MS SQL Server,Redis,0.131980,0.152284,0.025381,0.192308,1.262821,0.005282,1.049553,1,1

In [228]:
df3 = df.copy()
df3['antecedents'] = df3['antecedents'].astype('string')
df3['consequents'] = df3['consequents'].astype('string')
df3.dtypes

antecedents            string
consequents            string
antecedent support    float64
consequent support    float64
support               float64
confidence            float64
lift                  float64
leverage              float64
conviction            float64
antecedent_len          int64
consequente_len         int64
dtype: object

In [233]:
#df3['antecedents'] = df3['antecedents'].replace('"frozenset({"','')
#df3['antecedents'] = df3['antecedents'].replace('"})"','')
#{r"(?<=|)\s+(?=|)": '#'},
#df3['Pattern'].replace({r"(?<=|)\s+(?=|)": '#'}, regex=True, inplace=True)
df3['antecedents'].replace({r"frozenset": '#'}, regex=True, inplace=True)

In [234]:
df3

,antecedents,consequents,antecedent support,consequent support,support,confidence,lift,leverage,conviction,antecedent_len,consequente_len
0,frozenset({'Firebird'}),frozenset({'Informix'}),0.025381,0.030457,0.025381,1.000000,32.833333,0.024608,inf,1,1
1,frozenset({'Informix'}),frozenset({'Firebird'}),0.030457,0.025381,0.025381,0.833333,32.833333,0.024608,5.847716,1,1
2,frozenset({'Firebird'}),frozenset({'SAP Adaptive Server'}),0.025381,0.060914,0.025381,1.000000,16.416667,0.023835,inf,1,1
3,frozenset({'SapHana'}),frozenset({'SAP Adaptive Server'}),0.025381,0.060914,0.025381,1.000000,16.416667,0.023835,inf,1,1
4,frozenset({'SAP Adaptive Server'}),frozenset({'Firebird'}),0.060914,0.025381,0.025381,0.416667,16.416667,0.023835,1.670776,1,1
...,...,...,...,...,...,...,...,...,...,...,...
273,frozenset({'H2'}),frozenset({'Ehcache'}),0.243655,0.182741,0.060914,0.250000,1.368056,0.016388,1.089679,1,1
274,frozenset({'MySQL'}),frozenset({'Ehcache'}),0.411168,0.182741,0.096447,0.234568,1.283608,0.021309,1.067709,1,1
275,frozenset({'Ehcache'}),frozenset({'MySQL'}),0.182741,0.411168,0.096447,0.527778,1.283608,0.021309,1.246939,1,1
276,frozenset({'Redis'}),frozenset({'MS SQL Server'}),0.152284,0.131980,0.025381,0.166667,1.262821,0.005282,1.041624,1,1
277,frozenset({'MS SQL Server'}),frozenset({'Redis'}),0.131980,0.152284,0.025381,0.192308,1.262821,0.005282,1.049553,1,1

In [210]:
#Pelo que vi esta função só funciona a partir do python 3.9, estou usando o 3.7
df3['antecedents'] = df3['antecedents'].str.remove("frozenset({")
df3['antecedents'] = df3['antecedents'].str.remove("})")

df3['consequents'] = df3['consequents'].str.removeprefix("frozenset({")
df3['consequents'] = df3['consequents'].str.removesuffix("})")

AttributeError: 'StringMethods' object has no attribute 'removeprefix'

In [203]:

#print (df)

cols = ['antecedents','consequents']
df5[cols] = df5[cols].applymap(lambda x: tuple(x))
print (df5)

  antecedents consequents  C
0  (bbb, aaa)      (ccc,)  1
1  (bbb, aaa)      (ccc,)  3
2  (bbb, aaa)      (ccc,)  5
3      (nbb,)  (nbb, ddd)  7
4      (nbb,)  (nbb, ddd)  1
5      (nbb,)  (nbb, ddd)  0

In [227]:
df3 = df.copy()
cols = ['antecedents','consequents']
df3[cols] = df3[cols].applymap(lambda x: list(x))
print (df3)

                                           antecedents  \
0    [f, r, o, z, e, n, s, e, t, (, {, ', F, i, r, ...
1    [f, r, o, z, e, n, s, e, t, (, {, ', I, n, f, ...
2    [f, r, o, z, e, n, s, e, t, (, {, ', F, i, r, ...
3    [f, r, o, z, e, n, s, e, t, (, {, ', S, a, p, ...
4    [f, r, o, z, e, n, s, e, t, (, {, ', S, A, P, ...
..                                                 ...
273  [f, r, o, z, e, n, s, e, t, (, {, ', H, 2, ', ...
274  [f, r, o, z, e, n, s, e, t, (, {, ', M, y, S, ...
275  [f, r, o, z, e, n, s, e, t, (, {, ', E, h, c, ...
276  [f, r, o, z, e, n, s, e, t, (, {, ', R, e, d, ...
277  [f, r, o, z, e, n, s, e, t, (, {, ', M, S,  , ...

                                           consequents  antecedent support  \
0    [f, r, o, z, e, n, s, e, t, (, {, ', I, n, f, ...            0.025381
1    [f, r, o, z, e, n, s, e, t, (, {, ', F, i, r, ...            0.030457
2    [f, r, o, z, e, n, s, e, t, (, {, ', S, A, P, ...            0.025381
3    [f, r, o, z, e, n, s, e, t, (, {, ', S, A, P, ...            0.025381
4    [f, r, o, z, e, n, s, e, t, (, {, ', F, i, r, ...            0.060914
..                                                 ...                 ...
273  [f, r, o, z, e, n, s, e, t, (, {, ', E, h, c, ...            0.243655
274  [f, r, o, z, e, n, s, e, t, (, {, ', E, h, c, ...            0.411168
275  [f, r, o, z, e, n, s, e, t, (, {, ', M, y, S, ...            0.182741
276  [f, r, o, z, e, n, s, e, t, (, {, ', M, S,  , ...            0.152284
277  [f, r, o, z, e, n, s, e, t, (, {, ', R, e, d, ...            0.131980

     consequent support   support  confidence       lift  leverage  \
0              0.030457  0.025381    1.000000  32.833333  0.024608
1              0.025381  0.025381    0.833333  32.833333  0.024608
2              0.060914  0.025381    1.000000  16.416667  0.023835
3              0.060914  0.025381    1.000000  16.416667  0.023835
4              0.025381  0.025381    0.416667  16.416667  0.023835
..                  ...       ...         ...        ...       ...
273            0.182741  0.060914    0.250000   1.368056  0.016388
274            0.182741  0.096447    0.234568   1.283608  0.021309
275            0.411168  0.096447    0.527778   1.283608  0.021309
276            0.131980  0.025381    0.166667   1.262821  0.005282
277            0.152284  0.025381    0.192308   1.262821  0.005282

     conviction  antecedent_len  consequente_len
0           inf               1                1
1      5.847716               1                1
2           inf               1                1
3           inf               1                1
4      1.670776               1                1
..          ...             ...              ...
273    1.089679               1                1
274    1.067709               1                1
275    1.246939               1                1
276    1.041624               1                1
277    1.049553               1                1

[278 rows x 11 columns]

In [221]:
df4 = (df3.explode('antecedents')
         .reset_index(drop=True)
         .explode('consequents')
         .reset_index(drop=True))
print (df4)

                            antecedents                         consequents  \
0               frozenset({'Firebird'})             frozenset({'Informix'})
1               frozenset({'Informix'})             frozenset({'Firebird'})
2               frozenset({'Firebird'})  frozenset({'SAP Adaptive Server'})
3                frozenset({'SapHana'})  frozenset({'SAP Adaptive Server'})
4    frozenset({'SAP Adaptive Server'})             frozenset({'Firebird'})
..                                  ...                                 ...
273                   frozenset({'H2'})              frozenset({'Ehcache'})
274                frozenset({'MySQL'})              frozenset({'Ehcache'})
275              frozenset({'Ehcache'})                frozenset({'MySQL'})
276                frozenset({'Redis'})        frozenset({'MS SQL Server'})
277        frozenset({'MS SQL Server'})                frozenset({'Redis'})

     antecedent support  consequent support   support  confidence       lift  \
0              0.025381            0.030457  0.025381    1.000000  32.833333
1              0.030457            0.025381  0.025381    0.833333  32.833333
2              0.025381            0.060914  0.025381    1.000000  16.416667
3              0.025381            0.060914  0.025381    1.000000  16.416667
4              0.060914            0.025381  0.025381    0.416667  16.416667
..                  ...                 ...       ...         ...        ...
273            0.243655            0.182741  0.060914    0.250000   1.368056
274            0.411168            0.182741  0.096447    0.234568   1.283608
275            0.182741            0.411168  0.096447    0.527778   1.283608
276            0.152284            0.131980  0.025381    0.166667   1.262821
277            0.131980            0.152284  0.025381    0.192308   1.262821

     leverage  conviction  antecedent_len  consequente_len
0    0.024608         inf               1                1
1    0.024608    5.847716               1                1
2    0.023835         inf               1                1
3    0.023835         inf               1                1
4    0.023835    1.670776               1                1
..        ...         ...             ...              ...
273  0.016388    1.089679               1                1
274  0.021309    1.067709               1                1
275  0.021309    1.246939               1                1
276  0.005282    1.041624               1                1
277  0.005282    1.049553               1                1

[278 rows x 11 columns]

In [224]:
df3.dtypes

antecedents            object
consequents            object
antecedent support    float64
consequent support    float64
support               float64
confidence            float64
lift                  float64
leverage              float64
conviction            float64
antecedent_len          int64
consequente_len         int64
dtype: object

In [223]:
df['antecedents'] = df['antecedents'].astype(str)
df['consequents'] = df['consequents'].astype(str)

Top 10 BDs Session
Presentation of the 10 most frequent BDs (consequents=antecedents).

In [5]:
rules1b = df2.sort_values(['support',], ascending=[False])
rules1b

,antecedents,consequents,antecedent support,consequent support,support,confidence,lift,leverage,conviction,antecedent_len,consequente_len
197,frozenset({'PostgreSQL'}),frozenset({'MySQL'}),0.248731,0.411168,0.223350,0.897959,2.183925,0.121080,5.770558,1,1
196,frozenset({'MySQL'}),frozenset({'PostgreSQL'}),0.411168,0.248731,0.223350,0.543210,2.183925,0.121080,1.644670,1,1
240,frozenset({'MySQL'}),frozenset({'H2'}),0.411168,0.243655,0.182741,0.444444,1.824074,0.082558,1.361421,1,1
241,frozenset({'H2'}),frozenset({'MySQL'}),0.243655,0.411168,0.182741,0.750000,1.824074,0.082558,2.355330,1,1
211,frozenset({'MySQL'}),frozenset({'Oracle'}),0.411168,0.218274,0.177665,0.432099,1.979615,0.087918,1.376517,1,1
...,...,...,...,...,...,...,...,...,...,...,...
96,frozenset({'MariaDB'}),frozenset({'Cassandra'}),0.116751,0.055838,0.025381,0.217391,3.893281,0.018862,1.206430,1,1
97,frozenset({'Cassandra'}),frozenset({'MariaDB'}),0.055838,0.116751,0.025381,0.454545,3.893281,0.018862,1.619289,1,1
102,frozenset({'Oracle'}),frozenset({'Informix'}),0.218274,0.030457,0.025381,0.116279,3.817829,0.018733,1.097115,1,1
103,frozenset({'Informix'}),frozenset({'Oracle'}),0.030457,0.218274,0.025381,0.833333,3.817829,0.018733,4.690355,1,1
277,frozenset({'MS SQL Server'}),frozenset({'Redis'}),0.131980,0.152284,0.025381,0.192308,1.262821,0.005282,1.049553,1,1

In [6]:
rules1a = df2[(df2['antecedent support'] >= 0.07)] #& (df['confidence'] > 0.7) ]
#rules2 = rules2.sort_values(['consequent support','support'], ascending=[False,False])
rules1a = rules1a.groupby('antecedents').mean().sort_values(['antecedent support',], ascending=[False])
rules1a

,antecedent support,consequent support,support,confidence,lift,leverage,conviction,antecedent_len,consequente_len
antecedents,,,,,,,,,
frozenset({'MySQL'}),0.411168,0.096226,0.076142,0.185185,2.006815,0.036577,1.131984,1,1
frozenset({'PostgreSQL'}),0.248731,0.106368,0.067144,0.269944,2.836579,0.040686,1.454370,1,1
frozenset({'H2'}),0.243655,0.114213,0.059898,0.245833,2.545042,0.032070,1.235423,1,1
frozenset({'Oracle'}),0.218274,0.125709,0.068976,0.316005,3.018079,0.041537,1.438750,1,1
frozenset({'Ehcache'}),0.182741,0.159898,0.048646,0.266204,1.899812,0.019426,1.158931,1,1
frozenset({'Redis'}),0.152284,0.131345,0.045368,0.297917,3.112965,0.025366,1.266139,1,1
frozenset({'MS SQL Server'}),0.131980,0.130785,0.054046,0.409502,4.067144,0.036785,3.469726,1,1
frozenset({'MariaDB'}),0.116751,0.155910,0.046410,0.397516,2.781077,0.028208,1.829583,1,1
frozenset({'SQLite'}),0.111675,0.146285,0.043378,0.388430,4.351964,0.027042,1.429399,1,1
frozenset({'Elasticsearch'}),0.101523,0.147933,0.038434,0.378571,3.596818,0.023415,1.398659,1,1
frozenset({'MongoDB'}),0.101523,0.166244,0.039763,0.391667,2.985432,0.022886,1.441378,1,1
frozenset({'IBM DB2'}),0.096447,0.146818,0.051933,0.538462,5.276676,0.037773,3.542034,1,1
frozenset({'Google Cloud Datastore'}),0.071066,0.263959,0.030457,0.428571,1.732449,0.011698,1.296214,1,1

Top 10 BDs Session
Presentation of the 10 most frequent BDs (consequents=antecedents).

In [7]:
rules1 = df2[(df2['consequent support'] >= 0.13)] #0.07)] #& (df['confidence'] > 0.7) ]
#rules2 = rules2.sort_values(['consequent support','support'], ascending=[False,False])
rules1 = rules1.groupby('consequents').mean().sort_values(['consequent support',], ascending=[False])
rules1

,antecedent support,consequent support,support,confidence,lift,leverage,conviction,antecedent_len,consequente_len
consequents,,,,,,,,,
frozenset({'MySQL'}),0.096226,0.411168,0.076142,0.825137,2.006815,0.036577,inf,1,1
frozenset({'PostgreSQL'}),0.106368,0.248731,0.067144,0.705545,2.836579,0.040686,inf,1,1
frozenset({'H2'}),0.114213,0.243655,0.059898,0.620112,2.545042,0.032070,inf,1,1
frozenset({'Oracle'}),0.125709,0.218274,0.068976,0.658769,3.018079,0.041537,inf,1,1
frozenset({'Ehcache'}),0.159898,0.182741,0.048646,0.347174,1.899812,0.019426,1.336165,1,1
frozenset({'Redis'}),0.131345,0.152284,0.045368,0.474056,3.112965,0.025366,2.155223,1,1
frozenset({'MS SQL Server'}),0.130785,0.131980,0.054046,0.536780,4.067144,0.036785,inf,1,1

In [195]:
rules1c = df2.groupby(['antecedents','consequents']).sum().sort_values(['support'], ascending=[False]).drop_duplicates()

#sum().plot(kind='line')

#rules1c = rules1c[(rules1c['support'] >= 0.07)] 
rules1c

                                                        antecedent support  \
antecedents                  consequents
frozenset({'MySQL'})         frozenset({'PostgreSQL'})            0.411168
frozenset({'PostgreSQL'})    frozenset({'MySQL'})                 0.248731
frozenset({'MySQL'})         frozenset({'H2'})                    0.411168
frozenset({'H2'})            frozenset({'MySQL'})                 0.243655
frozenset({'Oracle'})        frozenset({'MySQL'})                 0.218274
...                                                                    ...
frozenset({'Informix'})      frozenset({'PostgreSQL'})            0.030457
                             frozenset({'SQLite'})                0.030457
frozenset({'MS Access'})     frozenset({'H2'})                    0.030457
frozenset({'MS SQL Server'}) frozenset({'HBase'})                 0.131980
frozenset({'MariaDB'})       frozenset({'HBase'})                 0.116751

                                                        consequent support  \
antecedents                  consequents
frozenset({'MySQL'})         frozenset({'PostgreSQL'})            0.248731
frozenset({'PostgreSQL'})    frozenset({'MySQL'})                 0.411168
frozenset({'MySQL'})         frozenset({'H2'})                    0.243655
frozenset({'H2'})            frozenset({'MySQL'})                 0.411168
frozenset({'Oracle'})        frozenset({'MySQL'})                 0.411168
...                                                                    ...
frozenset({'Informix'})      frozenset({'PostgreSQL'})            0.248731
                             frozenset({'SQLite'})                0.111675
frozenset({'MS Access'})     frozenset({'H2'})                    0.243655
frozenset({'MS SQL Server'}) frozenset({'HBase'})                 0.065990
frozenset({'MariaDB'})       frozenset({'HBase'})                 0.065990

                                                         support  confidence  \
antecedents                  consequents
frozenset({'MySQL'})         frozenset({'PostgreSQL'})  0.223350    0.543210
frozenset({'PostgreSQL'})    frozenset({'MySQL'})       0.223350    0.897959
frozenset({'MySQL'})         frozenset({'H2'})          0.182741    0.444444
frozenset({'H2'})            frozenset({'MySQL'})       0.182741    0.750000
frozenset({'Oracle'})        frozenset({'MySQL'})       0.177665    0.813953
...                                                          ...         ...
frozenset({'Informix'})      frozenset({'PostgreSQL'})  0.025381    0.833333
                             frozenset({'SQLite'})      0.025381    0.833333
frozenset({'MS Access'})     frozenset({'H2'})          0.025381    0.833333
frozenset({'MS SQL Server'}) frozenset({'HBase'})       0.025381    0.192308
frozenset({'MariaDB'})       frozenset({'HBase'})       0.025381    0.217391

                                                            lift  leverage  \
antecedents                  consequents
frozenset({'MySQL'})         frozenset({'PostgreSQL'})  2.183925  0.121080
frozenset({'PostgreSQL'})    frozenset({'MySQL'})       2.183925  0.121080
frozenset({'MySQL'})         frozenset({'H2'})          1.824074  0.082558
frozenset({'H2'})            frozenset({'MySQL'})       1.824074  0.082558
frozenset({'Oracle'})        frozenset({'MySQL'})       1.979615  0.087918
...                                                          ...       ...
frozenset({'Informix'})      frozenset({'PostgreSQL'})  3.350340  0.017805
                             frozenset({'SQLite'})      7.462121  0.021979
frozenset({'MS Access'})     frozenset({'H2'})          3.420139  0.017960
frozenset({'MS SQL Server'}) frozenset({'HBase'})       2.914201  0.016671
frozenset({'MariaDB'})       frozenset({'HBase'})       3.294314  0.017676

                                                        conviction  \
antecedents                  consequents
frozenset({'MySQL'})         frozenset({'PostgreSQL'})    1.644670
frozenset({'PostgreSQL'})    frozenset({'MySQL'})         5.770558
frozenset({'MySQL'})         frozenset({'H2'})            1.361421
frozenset({'H2'})            frozenset({'MySQL'})         2.355330
frozenset({'Oracle'})        frozenset({'MySQL'})         3.164975
...                                                            ...
frozenset({'Informix'})      frozenset({'PostgreSQL'})    4.507614
                             frozenset({'SQLite'})        5.329949
frozenset({'MS Access'})     frozenset({'H2'})            4.538071
frozenset({'MS SQL Server'}) frozenset({'HBase'})         1.156394
frozenset({'MariaDB'})       frozenset({'HBase'})         1.193457

                                                        antecedent_len  \
antecedents                  consequents
frozenset({'MySQL'})         frozenset({'PostgreSQL'})               1
frozenset({'PostgreSQL'})    frozenset({'MySQL'})                    1
frozenset({'MySQL'})         frozenset({'H2'})                       1
frozenset({'H2'})            frozenset({'MySQL'})                    1
frozenset({'Oracle'})        frozenset({'MySQL'})                    1
...                                                                ...
frozenset({'Informix'})      frozenset({'PostgreSQL'})               1
                             frozenset({'SQLite'})                   1
frozenset({'MS Access'})     frozenset({'H2'})                       1
frozenset({'MS SQL Server'}) frozenset({'HBase'})                    1
frozenset({'MariaDB'})       frozenset({'HBase'})                    1

                                                        consequente_len
antecedents                  consequents
frozenset({'MySQL'})         frozenset({'PostgreSQL'})                1
frozenset({'PostgreSQL'})    frozenset({'MySQL'})                     1
frozenset({'MySQL'})         frozenset({'H2'})                        1
frozenset({'H2'})            frozenset({'MySQL'})                     1
frozenset({'Oracle'})        frozenset({'MySQL'})                     1
...                                                                 ...
frozenset({'Informix'})      frozenset({'PostgreSQL'})                1
                             frozenset({'SQLite'})                    1
frozenset({'MS Access'})     frozenset({'H2'})                        1
frozenset({'MS SQL Server'}) frozenset({'HBase'})                     1
frozenset({'MariaDB'})       frozenset({'HBase'})                     1

[235 rows x 9 columns]

In [196]:
rules1c = rules1c.reset_index()
rules1c

,antecedents,consequents,antecedent support,consequent support,support,confidence,lift,leverage,conviction,antecedent_len,consequente_len
0,frozenset({'MySQL'}),frozenset({'PostgreSQL'}),0.411168,0.248731,0.223350,0.543210,2.183925,0.121080,1.644670,1,1
1,frozenset({'PostgreSQL'}),frozenset({'MySQL'}),0.248731,0.411168,0.223350,0.897959,2.183925,0.121080,5.770558,1,1
2,frozenset({'MySQL'}),frozenset({'H2'}),0.411168,0.243655,0.182741,0.444444,1.824074,0.082558,1.361421,1,1
3,frozenset({'H2'}),frozenset({'MySQL'}),0.243655,0.411168,0.182741,0.750000,1.824074,0.082558,2.355330,1,1
4,frozenset({'Oracle'}),frozenset({'MySQL'}),0.218274,0.411168,0.177665,0.813953,1.979615,0.087918,3.164975,1,1
...,...,...,...,...,...,...,...,...,...,...,...
230,frozenset({'Informix'}),frozenset({'PostgreSQL'}),0.030457,0.248731,0.025381,0.833333,3.350340,0.017805,4.507614,1,1
231,frozenset({'Informix'}),frozenset({'SQLite'}),0.030457,0.111675,0.025381,0.833333,7.462121,0.021979,5.329949,1,1
232,frozenset({'MS Access'}),frozenset({'H2'}),0.030457,0.243655,0.025381,0.833333,3.420139,0.017960,4.538071,1,1
233,frozenset({'MS SQL Server'}),frozenset({'HBase'}),0.131980,0.065990,0.025381,0.192308,2.914201,0.016671,1.156394,1,1
234,frozenset({'MariaDB'}),frozenset({'HBase'}),0.116751,0.065990,0.025381,0.217391,3.294314,0.017676,1.193457,1,1

 apply function
df['New'] = df.apply(lambda x: x['Column1'] if x['Column1'] <=
                     x['Column2'] and x['Column1']
                     <= x['Column3'] else np.nan, axis=1)

In [ ]:
#apply function
rules1c['New'] = rules1c.apply(lambda x: x['antecedents'] if x['antecedents'] ==
                     x['consequents'] and x['Column1']
                     <= x['Column3'] else np.nan, axis=1)

In [193]:
selecao = rules1c[(rules1c['antecedents'] == "'frozenset({'PostgreSQL'})'")]#| (dataset_sem_friendly['away_team'] == 'Brazil')
#dataset_sem_friendly[selecao].head()
#rules1c[selecao]
selecao

Empty DataFrame
Columns: [antecedents, consequents, antecedent support, consequent support, support, confidence, lift, leverage, conviction, antecedent_len, consequente_len]
Index: []

In [194]:
rules1c['antecedents'].equals(rules1c['consequents'])

False

In [176]:
rules1c.insert(3,'antecedent_sup_abs', 0, True)
rules1c.insert(5,'consequent_sup_abs', 0, True)
rules1c.insert(7,'support_abs', 0, True)

In [177]:
rules1c['antecedent_sup_abs'] = (rules1c['antecedent support']*197)
rules1c['consequent_sup_abs'] = (rules1c['consequent support']*197)
rules1c['support_abs'] = (rules1c['support']*197)
rules1c

,antecedents,consequents,antecedent support,antecedent_sup_abs,consequent support,consequent_sup_abs,support,support_abs,confidence,lift,leverage,conviction,antecedent_len,consequente_len
0,frozenset({'MySQL'}),frozenset({'PostgreSQL'}),0.411168,81.0,0.248731,49.0,0.223350,44.0,0.543210,2.183925,0.121080,1.644670,1,1
1,frozenset({'PostgreSQL'}),frozenset({'MySQL'}),0.248731,49.0,0.411168,81.0,0.223350,44.0,0.897959,2.183925,0.121080,5.770558,1,1
2,frozenset({'MySQL'}),frozenset({'H2'}),0.411168,81.0,0.243655,48.0,0.182741,36.0,0.444444,1.824074,0.082558,1.361421,1,1
3,frozenset({'H2'}),frozenset({'MySQL'}),0.243655,48.0,0.411168,81.0,0.182741,36.0,0.750000,1.824074,0.082558,2.355330,1,1
4,frozenset({'Oracle'}),frozenset({'MySQL'}),0.218274,43.0,0.411168,81.0,0.177665,35.0,0.813953,1.979615,0.087918,3.164975,1,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
230,frozenset({'Informix'}),frozenset({'PostgreSQL'}),0.030457,6.0,0.248731,49.0,0.025381,5.0,0.833333,3.350340,0.017805,4.507614,1,1
231,frozenset({'Informix'}),frozenset({'SQLite'}),0.030457,6.0,0.111675,22.0,0.025381,5.0,0.833333,7.462121,0.021979,5.329949,1,1
232,frozenset({'MS Access'}),frozenset({'H2'}),0.030457,6.0,0.243655,48.0,0.025381,5.0,0.833333,3.420139,0.017960,4.538071,1,1
233,frozenset({'MS SQL Server'}),frozenset({'HBase'}),0.131980,26.0,0.065990,13.0,0.025381,5.0,0.192308,2.914201,0.016671,1.156394,1,1
234,frozenset({'MariaDB'}),frozenset({'HBase'}),0.116751,23.0,0.065990,13.0,0.025381,5.0,0.217391,3.294314,0.017676,1.193457,1,1

In [172]:
#df['Chamadas_agente'] = df['Chamadas_agente'][df.groupby('agente')['Chamadas_agente'].rank(method='first') == 1]
#rules1c['ordem'] = rules1c.groupby('support').rank(method='first') == 1
#df['Chamadas_agente'] = df['Chamadas_agente'][df.groupby(['agente','data'])['Chamadas_agente'].rank(method='first') == 1
#df['Chamadas_agente'] = df['Chamadas_agente'][df.groupby(['agente','data'])['Chamadas_agente'].rank(method='first') == 1
rules1c['support_abs'] = rules1c['support_abs'][rules1c.groupby('support')['support_abs'].rank(method='first') == 1]
rules1c['support_abs'] = rules1c['support_abs'].fillna(-1).astype('int').astype('str').str.replace('-1', '0')
#rules1c['support_abs'] = rules1c['support_abs'].replace('','0')
rules1c['support_abs'] = rules1c['support_abs'].astype(int)
#rules1c
#rules1c = rules1c[  (rules1c['support_abs'] == 0)] 
rules1c

,antecedents,consequents,antecedent support,antecedent_sup_abs,consequent support,consequent_sup_abs,support,support_abs,confidence,lift,leverage,conviction,antecedent_len,consequente_len
0,frozenset({'MySQL'}),frozenset({'PostgreSQL'}),0.411168,81.0,0.248731,49.0,0.223350,44,0.543210,2.183925,0.121080,1.644670,1,1
1,frozenset({'PostgreSQL'}),frozenset({'MySQL'}),0.248731,49.0,0.411168,81.0,0.223350,0,0.897959,2.183925,0.121080,5.770558,1,1
2,frozenset({'MySQL'}),frozenset({'H2'}),0.411168,81.0,0.243655,48.0,0.182741,35,0.444444,1.824074,0.082558,1.361421,1,1
3,frozenset({'H2'}),frozenset({'MySQL'}),0.243655,48.0,0.411168,81.0,0.182741,0,0.750000,1.824074,0.082558,2.355330,1,1
4,frozenset({'Oracle'}),frozenset({'MySQL'}),0.218274,43.0,0.411168,81.0,0.177665,34,0.813953,1.979615,0.087918,3.164975,1,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
230,frozenset({'Informix'}),frozenset({'PostgreSQL'}),0.030457,6.0,0.248731,49.0,0.025381,0,0.833333,3.350340,0.017805,4.507614,1,1
231,frozenset({'Informix'}),frozenset({'SQLite'}),0.030457,6.0,0.111675,22.0,0.025381,0,0.833333,7.462121,0.021979,5.329949,1,1
232,frozenset({'MS Access'}),frozenset({'H2'}),0.030457,6.0,0.243655,48.0,0.025381,0,0.833333,3.420139,0.017960,4.538071,1,1
233,frozenset({'MS SQL Server'}),frozenset({'HBase'}),0.131980,26.0,0.065990,13.0,0.025381,0,0.192308,2.914201,0.016671,1.156394,1,1
234,frozenset({'MariaDB'}),frozenset({'HBase'}),0.116751,23.0,0.065990,13.0,0.025381,0,0.217391,3.294314,0.017676,1.193457,1,1

In [173]:
rules1c = rules1c[  (rules1c['support_abs'] == 0)] 
rules1c

,antecedents,consequents,antecedent support,antecedent_sup_abs,consequent support,consequent_sup_abs,support,support_abs,confidence,lift,leverage,conviction,antecedent_len,consequente_len
1,frozenset({'PostgreSQL'}),frozenset({'MySQL'}),0.248731,49.0,0.411168,81.0,0.223350,0,0.897959,2.183925,0.121080,5.770558,1,1
3,frozenset({'H2'}),frozenset({'MySQL'}),0.243655,48.0,0.411168,81.0,0.182741,0,0.750000,1.824074,0.082558,2.355330,1,1
5,frozenset({'MySQL'}),frozenset({'Oracle'}),0.411168,81.0,0.218274,43.0,0.177665,0,0.432099,1.979615,0.087918,1.376517,1,1
7,frozenset({'PostgreSQL'}),frozenset({'Oracle'}),0.248731,49.0,0.218274,43.0,0.157360,0,0.632653,2.898434,0.103069,2.128032,1,1
9,frozenset({'H2'}),frozenset({'PostgreSQL'}),0.243655,48.0,0.248731,49.0,0.137056,0,0.562500,2.261480,0.076451,1.717186,1,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
230,frozenset({'Informix'}),frozenset({'PostgreSQL'}),0.030457,6.0,0.248731,49.0,0.025381,0,0.833333,3.350340,0.017805,4.507614,1,1
231,frozenset({'Informix'}),frozenset({'SQLite'}),0.030457,6.0,0.111675,22.0,0.025381,0,0.833333,7.462121,0.021979,5.329949,1,1
232,frozenset({'MS Access'}),frozenset({'H2'}),0.030457,6.0,0.243655,48.0,0.025381,0,0.833333,3.420139,0.017960,4.538071,1,1
233,frozenset({'MS SQL Server'}),frozenset({'HBase'}),0.131980,26.0,0.065990,13.0,0.025381,0,0.192308,2.914201,0.016671,1.156394,1,1
234,frozenset({'MariaDB'}),frozenset({'HBase'}),0.116751,23.0,0.065990,13.0,0.025381,0,0.217391,3.294314,0.017676,1.193457,1,1

In [180]:
selecao = rules1c[(rules1c['antecedents'] == rules1c['consequents'])] #| (dataset_sem_friendly['away_team'] == 'Brazil')
#dataset_sem_friendly[selecao].head()
selecao

Empty DataFrame
Columns: [antecedents, consequents, antecedent support, antecedent_sup_abs, consequent support, consequent_sup_abs, support, support_abs, confidence, lift, leverage, conviction, antecedent_len, consequente_len]
Index: []

In [178]:
rules1c['support_abs'] = rules1c['support_abs'][rules1c.groupby(['antecedents','consequents','support'])['support_abs'].rank(method='first') == 1]
rules1c['support_abs'] = rules1c['support_abs'].fillna(-1).astype('int').astype('str').str.replace('-1', '0')
#rules1c
#rules1c['support_abs'] = rules1c['support_abs'].replace('','0')
rules1c['support_abs'] = rules1c['support_abs'].astype(int)
#rules1c = rules1c[(rules1c['support'] >= 0.3) & (rules1c['support_abs'] == 0)] 
rules1c

,antecedents,consequents,antecedent support,antecedent_sup_abs,consequent support,consequent_sup_abs,support,support_abs,confidence,lift,leverage,conviction,antecedent_len,consequente_len
0,frozenset({'MySQL'}),frozenset({'PostgreSQL'}),0.411168,81.0,0.248731,49.0,0.223350,44,0.543210,2.183925,0.121080,1.644670,1,1
1,frozenset({'PostgreSQL'}),frozenset({'MySQL'}),0.248731,49.0,0.411168,81.0,0.223350,44,0.897959,2.183925,0.121080,5.770558,1,1
2,frozenset({'MySQL'}),frozenset({'H2'}),0.411168,81.0,0.243655,48.0,0.182741,35,0.444444,1.824074,0.082558,1.361421,1,1
3,frozenset({'H2'}),frozenset({'MySQL'}),0.243655,48.0,0.411168,81.0,0.182741,35,0.750000,1.824074,0.082558,2.355330,1,1
4,frozenset({'Oracle'}),frozenset({'MySQL'}),0.218274,43.0,0.411168,81.0,0.177665,34,0.813953,1.979615,0.087918,3.164975,1,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
230,frozenset({'Informix'}),frozenset({'PostgreSQL'}),0.030457,6.0,0.248731,49.0,0.025381,5,0.833333,3.350340,0.017805,4.507614,1,1
231,frozenset({'Informix'}),frozenset({'SQLite'}),0.030457,6.0,0.111675,22.0,0.025381,5,0.833333,7.462121,0.021979,5.329949,1,1
232,frozenset({'MS Access'}),frozenset({'H2'}),0.030457,6.0,0.243655,48.0,0.025381,5,0.833333,3.420139,0.017960,4.538071,1,1
233,frozenset({'MS SQL Server'}),frozenset({'HBase'}),0.131980,26.0,0.065990,13.0,0.025381,5,0.192308,2.914201,0.016671,1.156394,1,1
234,frozenset({'MariaDB'}),frozenset({'HBase'}),0.116751,23.0,0.065990,13.0,0.025381,5,0.217391,3.294314,0.017676,1.193457,1,1

In [104]:
rules1c.dtypes

antecedents            object
consequents            object
antecedent support    float64
antecedent_sup_abs    float64
consequent support    float64
consequent_sup_abs    float64
support               float64
support_abs             int64
confidence            float64
lift                  float64
leverage              float64
conviction            float64
antecedent_len          int64
consequente_len         int64
dtype: object

Este é o gráfico inicial que mostra apenas as regras com os BDs mais usados em conjunto, demosntrando empate entre os BDs SQLite e Mongo DB.

In [125]:
import plotly.express as px 
rules1cd = rules1c[(rules1c['support'] >= 0.04) & (rules1c['support_abs'] != 0)] 

#fig = px.scatter(rules1c.groupby(['antecedent_sup_abs','consequent_sup_abs']).mean().sort_values(['support_abs',], ascending=[False]),
#.sort_values(['support_abs'], ascending=[False])
fig = px.scatter(rules1cd.sort_values(['support_abs','antecedent_sup_abs'], ascending=[False, False]), x="consequents", y="antecedents", 
#x="consequents", y="antecedents", 
size='support_abs',  color="support_abs", title='Correlation of the most frequent databases in the fifth version',
hover_data=['support_abs'], color_continuous_scale = ["silver","gray"]) 
#fig.title('Correlation of the most frequent databases')
fig.show()

Este é o gráfico gerado a pedido do Leo na reu de 24/02 que mostra apenas as todas as regras dos BDs usados em conjunto.

In [111]:
import plotly.express as px 
#fig = px.scatter(rules1c.groupby(['antecedent_sup_abs','consequent_sup_abs']).mean().sort_values(['support_abs',], ascending=[False]),
#.sort_values(['support_abs'], ascending=[False])
fig = px.scatter(rules1c.sort_values(['support_abs'], ascending=[False]), x="consequents", y="antecedents", 
#x="consequents", y="antecedents", 
size='support_abs',  color="support_abs", title='Correlation of the most frequent databases in the fifth version',
hover_data=['support_abs'], color_continuous_scale = ["silver","gray"], width=2000) 
#fig.title('Correlation of the most frequent databases')
fig.show()

MySQL, PostgresSQL, H2, Oracle, MS SQL Server, Maria DB, Redis, Ehcache, IBM DB2, Mongo DB, SQLite

SQLite, Ehcache, IBM DB2,  Sap Adaptive Server, MS Access e MongoDB

v5 entrou: Maria DB, Redis
v5 saiu: Sap Adaptive Server, MS Access

v10 entrou: MySQL, PostgresSQL, H2, Oracle, MS SQL Server, Maria DB, Redis, Ehcache, IBM DB2, Mongo DB, SQLite
v10 saiu:

In the rules below, we list the 10 most frequent BDs as consequents and confidence > 70%, confidence only in the case of relational ones. 
Add rules where they appear as antecedents.

In [11]:
rules2 = df[ (df['consequents'].str.contains('MySQL')) &(df['confidence'] > 0.7)]
rules2

,antecedents,consequents,antecedent support,consequent support,support,confidence,lift,leverage,conviction,antecedent_len,consequente_len
160,frozenset({'Firebird'}),frozenset({'MySQL'}),0.025381,0.411168,0.025381,1.000000,2.432099,0.014945,inf,1,1
161,frozenset({'SAP Adaptive Server'}),frozenset({'MySQL'}),0.060914,0.411168,0.060914,1.000000,2.432099,0.035868,inf,1,1
162,frozenset({'MS Access'}),frozenset({'MySQL'}),0.030457,0.411168,0.030457,1.000000,2.432099,0.017934,inf,1,1
163,frozenset({'SapHana'}),frozenset({'MySQL'}),0.025381,0.411168,0.025381,1.000000,2.432099,0.014945,inf,1,1
164,frozenset({'Amazon Redshift'}),frozenset({'MySQL'}),0.025381,0.411168,0.025381,1.000000,2.432099,0.014945,inf,1,1
172,frozenset({'MS SQL Server'}),frozenset({'MySQL'}),0.131980,0.411168,0.126904,0.961538,2.338557,0.072638,15.309645,1,1
177,frozenset({'IBM DB2'}),frozenset({'MySQL'}),0.096447,0.411168,0.091371,0.947368,2.304094,0.051715,11.187817,1,1
184,frozenset({'HBase'}),frozenset({'MySQL'}),0.065990,0.411168,0.060914,0.923077,2.245014,0.033781,7.654822,1,1
187,frozenset({'MariaDB'}),frozenset({'MySQL'}),0.116751,0.411168,0.106599,0.913043,2.220612,0.058595,6.771574,1,1
197,frozenset({'PostgreSQL'}),frozenset({'MySQL'}),0.248731,0.411168,0.223350,0.897959,2.183925,0.121080,5.770558,1,1
199,frozenset({'Hive'}),frozenset({'MySQL'}),0.045685,0.411168,0.040609,0.888889,2.161866,0.021825,5.299492,1,1
204,frozenset({'Informix'}),frozenset({'MySQL'}),0.030457,0.411168,0.025381,0.833333,2.026749,0.012858,3.532995,1,1
209,frozenset({'Cassandra'}),frozenset({'MySQL'}),0.055838,0.411168,0.045685,0.818182,1.989899,0.022727,3.238579,1,1
210,frozenset({'Oracle'}),frozenset({'MySQL'}),0.218274,0.411168,0.177665,0.813953,1.979615,0.087918,3.164975,1,1
238,frozenset({'MongoDB'}),frozenset({'MySQL'}),0.101523,0.411168,0.076142,0.750000,1.824074,0.034399,2.355330,1,1
241,frozenset({'H2'}),frozenset({'MySQL'}),0.243655,0.411168,0.182741,0.750000,1.824074,0.082558,2.355330,1,1
248,frozenset({'DynamoDB'}),frozenset({'MySQL'}),0.035533,0.411168,0.025381,0.714286,1.737213,0.010771,2.060914,1,1
249,frozenset({'Solr'}),frozenset({'MySQL'}),0.035533,0.411168,0.025381,0.714286,1.737213,0.010771,2.060914,1,1

In [51]:
rules3 = df[(df['consequents'].str.contains('PostgreSQL') | (df['antecedents'].str.contains('PostgreSQL'))) & (df['confidence'] > 0.7) ]
rules3

,antecedents,consequents,antecedent support,consequent support,support,confidence,lift,leverage,conviction,antecedent_len,consequente_len
89,frozenset({'SapHana'}),frozenset({'PostgreSQL'}),0.025381,0.248731,0.025381,1.000000,4.020408,0.019068,inf,1,1
91,frozenset({'Firebird'}),frozenset({'PostgreSQL'}),0.025381,0.248731,0.025381,1.000000,4.020408,0.019068,inf,1,1
93,frozenset({'Amazon Redshift'}),frozenset({'PostgreSQL'}),0.025381,0.248731,0.025381,1.000000,4.020408,0.019068,inf,1,1
100,frozenset({'MS SQL Server'}),frozenset({'PostgreSQL'}),0.131980,0.248731,0.126904,0.961538,3.865777,0.094076,19.532995,1,1
109,frozenset({'SAP Adaptive Server'}),frozenset({'PostgreSQL'}),0.060914,0.248731,0.055838,0.916667,3.685374,0.040686,9.015228,1,1
111,frozenset({'IBM DB2'}),frozenset({'PostgreSQL'}),0.096447,0.248731,0.086294,0.894737,3.597207,0.062305,7.137056,1,1
119,frozenset({'MS Access'}),frozenset({'PostgreSQL'}),0.030457,0.248731,0.025381,0.833333,3.350340,0.017805,4.507614,1,1
120,frozenset({'Informix'}),frozenset({'PostgreSQL'}),0.030457,0.248731,0.025381,0.833333,3.350340,0.017805,4.507614,1,1
132,frozenset({'Hive'}),frozenset({'PostgreSQL'}),0.045685,0.248731,0.035533,0.777778,3.126984,0.024170,3.380711,1,1
134,frozenset({'MariaDB'}),frozenset({'PostgreSQL'}),0.116751,0.248731,0.086294,0.739130,2.971606,0.057255,2.879865,1,1
141,frozenset({'Oracle'}),frozenset({'PostgreSQL'}),0.218274,0.248731,0.157360,0.720930,2.898434,0.103069,2.692047,1,1
142,frozenset({'DynamoDB'}),frozenset({'PostgreSQL'}),0.035533,0.248731,0.025381,0.714286,2.871720,0.016543,2.629442,1,1
197,frozenset({'PostgreSQL'}),frozenset({'MySQL'}),0.248731,0.411168,0.223350,0.897959,2.183925,0.121080,5.770558,1,1

In [13]:
rules4 = df[(df['consequents'].str.contains('H2')) & (df['confidence'] > 0.7) ]
rules4

,antecedents,consequents,antecedent support,consequent support,support,confidence,lift,leverage,conviction,antecedent_len,consequente_len
79,frozenset({'Informix'}),frozenset({'H2'}),0.030457,0.243655,0.030457,1.000000,4.104167,0.023036,inf,1,1
80,frozenset({'Firebird'}),frozenset({'H2'}),0.025381,0.243655,0.025381,1.000000,4.104167,0.019197,inf,1,1
82,frozenset({'SapHana'}),frozenset({'H2'}),0.025381,0.243655,0.025381,1.000000,4.104167,0.019197,inf,1,1
106,frozenset({'SAP Adaptive Server'}),frozenset({'H2'}),0.060914,0.243655,0.055838,0.916667,3.762153,0.040996,9.076142,1,1
116,frozenset({'MS Access'}),frozenset({'H2'}),0.030457,0.243655,0.025381,0.833333,3.420139,0.017960,4.538071,1,1
128,frozenset({'IBM DB2'}),frozenset({'H2'}),0.096447,0.243655,0.076142,0.789474,3.240132,0.052642,3.592640,1,1

In [14]:
rules5 = df[(df['consequents'].str.contains('Oracle')) & (df['confidence'] > 0.7) ]
rules5

,antecedents,consequents,antecedent support,consequent support,support,confidence,lift,leverage,conviction,antecedent_len,consequente_len
64,frozenset({'SAP Adaptive Server'}),frozenset({'Oracle'}),0.060914,0.218274,0.060914,1.000000,4.581395,0.047618,inf,1,1
65,frozenset({'MS Access'}),frozenset({'Oracle'}),0.030457,0.218274,0.030457,1.000000,4.581395,0.023809,inf,1,1
67,frozenset({'Firebird'}),frozenset({'Oracle'}),0.025381,0.218274,0.025381,1.000000,4.581395,0.019841,inf,1,1
69,frozenset({'SapHana'}),frozenset({'Oracle'}),0.025381,0.218274,0.025381,1.000000,4.581395,0.019841,inf,1,1
86,frozenset({'IBM DB2'}),frozenset({'Oracle'}),0.096447,0.218274,0.086294,0.894737,4.099143,0.065243,7.426396,1,1
98,frozenset({'MS SQL Server'}),frozenset({'Oracle'}),0.131980,0.218274,0.111675,0.846154,3.876565,0.082867,5.081218,1,1
103,frozenset({'Informix'}),frozenset({'Oracle'}),0.030457,0.218274,0.025381,0.833333,3.817829,0.018733,4.690355,1,1

In [25]:
#rules6 = df[(df['consequents'].str.contains('Ehcache'))]# & (df['confidence'] > 0.7) ]
rules6 = df[ (df['consequents'].str.contains('MS SQL Server')) & (df['confidence'] > 0.7) ]
rules6

,antecedents,consequents,antecedent support,consequent support,support,confidence,lift,leverage,conviction,antecedent_len,consequente_len
31,frozenset({'SapHana'}),frozenset({'MS SQL Server'}),0.025381,0.13198,0.025381,1.000000,7.576923,0.022031,inf,1,1
33,frozenset({'Firebird'}),frozenset({'MS SQL Server'}),0.025381,0.13198,0.025381,1.000000,7.576923,0.022031,inf,1,1
41,frozenset({'IBM DB2'}),frozenset({'MS SQL Server'}),0.096447,0.13198,0.081218,0.842105,6.380567,0.068489,5.497462,1,1
43,frozenset({'Informix'}),frozenset({'MS SQL Server'}),0.030457,0.13198,0.025381,0.833333,6.314103,0.021361,5.208122,1,1
45,frozenset({'MS Access'}),frozenset({'MS SQL Server'}),0.030457,0.13198,0.025381,0.833333,6.314103,0.021361,5.208122,1,1
47,frozenset({'SAP Adaptive Server'}),frozenset({'MS SQL Server'}),0.060914,0.13198,0.050761,0.833333,6.314103,0.042722,5.208122,1,1

In [29]:
rules7 =df[ (df['consequents'] .str.contains('MariaDB'))  & (df['confidence'] > 0.4) ]
rules7

,antecedents,consequents,antecedent support,consequent support,support,confidence,lift,leverage,conviction,antecedent_len,consequente_len
76,frozenset({'SAP Adaptive Server'}),frozenset({'MariaDB'}),0.060914,0.116751,0.030457,0.500000,4.282609,0.023345,1.766497,1,1
97,frozenset({'Cassandra'}),frozenset({'MariaDB'}),0.055838,0.116751,0.025381,0.454545,3.893281,0.018862,1.619289,1,1

In [30]:
rules8 = df[ (df['consequents'].str.contains('Redis'))] #& (df['confidence'] > 0.7) ]
rules8

,antecedents,consequents,antecedent support,consequent support,support,confidence,lift,leverage,conviction,antecedent_len,consequente_len
48,frozenset({'Solr'}),frozenset({'Redis'}),0.035533,0.152284,0.030457,0.857143,5.628571,0.025046,5.934010,1,1
54,frozenset({'Cassandra'}),frozenset({'Redis'}),0.055838,0.152284,0.045685,0.818182,5.372727,0.037182,4.662437,1,1
59,frozenset({'Memcached'}),frozenset({'Redis'}),0.035533,0.152284,0.025381,0.714286,4.690476,0.019970,2.967005,1,1
61,frozenset({'DynamoDB'}),frozenset({'Redis'}),0.035533,0.152284,0.025381,0.714286,4.690476,0.019970,2.967005,1,1
70,frozenset({'HBase'}),frozenset({'Redis'}),0.065990,0.152284,0.045685,0.692308,4.546154,0.035636,2.755076,1,1
74,frozenset({'Hive'}),frozenset({'Redis'}),0.045685,0.152284,0.030457,0.666667,4.377778,0.023500,2.543147,1,1
124,frozenset({'Elasticsearch'}),frozenset({'Redis'}),0.101523,0.152284,0.050761,0.500000,3.283333,0.035301,1.695431,1,1
127,frozenset({'MongoDB'}),frozenset({'Redis'}),0.101523,0.152284,0.050761,0.500000,3.283333,0.035301,1.695431,1,1
170,frozenset({'Google Cloud Datastore'}),frozenset({'Redis'}),0.071066,0.152284,0.025381,0.357143,2.345238,0.014558,1.318669,1,1
224,frozenset({'PostgreSQL'}),frozenset({'Redis'}),0.248731,0.152284,0.071066,0.285714,1.876190,0.033188,1.186802,1,1
232,frozenset({'Oracle'}),frozenset({'Redis'}),0.218274,0.152284,0.060914,0.279070,1.832558,0.027674,1.175864,1,1
251,frozenset({'MariaDB'}),frozenset({'Redis'}),0.116751,0.152284,0.030457,0.260870,1.713043,0.012677,1.146910,1,1
256,frozenset({'Ehcache'}),frozenset({'Redis'}),0.182741,0.152284,0.045685,0.250000,1.641667,0.017857,1.130288,1,1
258,frozenset({'H2'}),frozenset({'Redis'}),0.243655,0.152284,0.060914,0.250000,1.641667,0.023809,1.130288,1,1
261,frozenset({'MySQL'}),frozenset({'Redis'}),0.411168,0.152284,0.101523,0.246914,1.621399,0.038909,1.125655,1,1
277,frozenset({'MS SQL Server'}),frozenset({'Redis'}),0.131980,0.152284,0.025381,0.192308,1.262821,0.005282,1.049553,1,1

In [48]:
#rules9 = df[(df['consequents'].str.contains('MongoDB')) & (df['confidence'] > 0.7) ]
rules9 = df[(df['consequents'].str.contains('Ehcache'))]# & (df['confidence'] > 0.7) ]
rules9

,antecedents,consequents,antecedent support,consequent support,support,confidence,lift,leverage,conviction,antecedent_len,consequente_len
95,frozenset({'Memcached'}),frozenset({'Ehcache'}),0.035533,0.182741,0.025381,0.714286,3.908730,0.018887,2.860406,1,1
181,frozenset({'SAP Adaptive Server'}),frozenset({'Ehcache'}),0.060914,0.182741,0.025381,0.416667,2.280093,0.014249,1.401015,1,1
212,frozenset({'Elasticsearch'}),frozenset({'Ehcache'}),0.101523,0.182741,0.035533,0.350000,1.915278,0.016981,1.257321,1,1
214,frozenset({'MongoDB'}),frozenset({'Ehcache'}),0.101523,0.182741,0.035533,0.350000,1.915278,0.016981,1.257321,1,1
216,frozenset({'Oracle'}),frozenset({'Ehcache'}),0.218274,0.182741,0.076142,0.348837,1.908915,0.036254,1.255076,1,1
242,frozenset({'PostgreSQL'}),frozenset({'Ehcache'}),0.248731,0.182741,0.081218,0.326531,1.786848,0.035765,1.213506,1,1
252,frozenset({'MS SQL Server'}),frozenset({'Ehcache'}),0.131980,0.182741,0.040609,0.307692,1.683761,0.016491,1.180485,1,1
255,frozenset({'MariaDB'}),frozenset({'Ehcache'}),0.116751,0.182741,0.035533,0.304348,1.665459,0.014198,1.174810,1,1
257,frozenset({'Redis'}),frozenset({'Ehcache'}),0.152284,0.182741,0.045685,0.300000,1.641667,0.017857,1.167513,1,1
267,frozenset({'IBM DB2'}),frozenset({'Ehcache'}),0.096447,0.182741,0.025381,0.263158,1.440058,0.007756,1.109137,1,1
273,frozenset({'H2'}),frozenset({'Ehcache'}),0.243655,0.182741,0.060914,0.250000,1.368056,0.016388,1.089679,1,1
274,frozenset({'MySQL'}),frozenset({'Ehcache'}),0.411168,0.182741,0.096447,0.234568,1.283608,0.021309,1.067709,1,1

In [42]:
#rules10 = df[ (df['consequents'].str.contains('MS SQL Server')) & (df['confidence'] > 0.7) ]
rules10 = df[ (df['consequents'].str.contains('IBM DB2')) & (df['confidence'] > 0.7) ]
rules10

,antecedents,consequents,antecedent support,consequent support,support,confidence,lift,leverage,conviction,antecedent_len,consequente_len
12,frozenset({'SapHana'}),frozenset({'IBM DB2'}),0.025381,0.096447,0.025381,1.000000,10.368421,0.022933,inf,1,1
14,frozenset({'Firebird'}),frozenset({'IBM DB2'}),0.025381,0.096447,0.025381,1.000000,10.368421,0.022933,inf,1,1
24,frozenset({'Informix'}),frozenset({'IBM DB2'}),0.030457,0.096447,0.025381,0.833333,8.640351,0.022443,5.42132,1,1
25,frozenset({'SAP Adaptive Server'}),frozenset({'IBM DB2'}),0.060914,0.096447,0.050761,0.833333,8.640351,0.044886,5.42132,1,1

In [44]:
#rules11 = df[ (df['consequents'] .str.contains('MariaDB')) & (df['confidence'] > 0.7) ]
rules11 = df[ (df['consequents'] .str.contains('MongoDB')) & (df['confidence'] > 0.5) ]
rules11

,antecedents,consequents,antecedent support,consequent support,support,confidence,lift,leverage,conviction,antecedent_len,consequente_len
39,frozenset({'DynamoDB'}),frozenset({'MongoDB'}),0.035533,0.101523,0.025381,0.714286,7.035714,0.021773,3.14467,1,1
53,frozenset({'Cassandra'}),frozenset({'MongoDB'}),0.055838,0.101523,0.030457,0.545455,5.372727,0.024788,1.97665,1,1

In [46]:
rules12 = df[ (df['consequents'] .str.contains('SQLite')) & (df['confidence'] > 0.7) ]
rules12

,antecedents,consequents,antecedent support,consequent support,support,confidence,lift,leverage,conviction,antecedent_len,consequente_len
18,frozenset({'Firebird'}),frozenset({'SQLite'}),0.025381,0.111675,0.025381,1.000000,8.954545,0.022546,inf,1,1
21,frozenset({'SapHana'}),frozenset({'SQLite'}),0.025381,0.111675,0.025381,1.000000,8.954545,0.022546,inf,1,1
35,frozenset({'Informix'}),frozenset({'SQLite'}),0.030457,0.111675,0.025381,0.833333,7.462121,0.021979,5.329949,1,1

Expected Patterns Session
In the rules below, we highlight the dependence presented in opposite directions and the expected correlation.

In [49]:
rules7a = df[((df['antecedents'].str.contains('MariaDB')) & (df['consequents'].str.contains('MySQL'))) | 
((df['antecedents'].str.contains('MySQL')) & (df['consequents'].str.contains('MariaDB')))]
rules7a

,antecedents,consequents,antecedent support,consequent support,support,confidence,lift,leverage,conviction,antecedent_len,consequente_len
186,frozenset({'MySQL'}),frozenset({'MariaDB'}),0.411168,0.116751,0.106599,0.259259,2.220612,0.058595,1.192386,1,1
187,frozenset({'MariaDB'}),frozenset({'MySQL'}),0.116751,0.411168,0.106599,0.913043,2.220612,0.058595,6.771574,1,1

In [56]:
rules3a = df2[((df2['antecedents'].str.contains('PostgreSQL')) & (df2['consequents'].str.contains('PostGIS'))) | 
((df2['antecedents'].str.contains('PostGIS')) & (df2['consequents'].str.contains('PostgreSQL')))]
#rules3a = df2[(df2['consequents'].str.contains('PostGIS'))]
rules3a

Empty DataFrame
Columns: [antecedents, consequents, antecedent support, consequent support, support, confidence, lift, leverage, conviction, antecedent_len, consequente_len]
Index: []

Unexpected Patterns Session
In the rules below we highlight competition and high lift values.

In [59]:
rules13 = df2[(df2['lift'] > 10)] #>20
rules13

,antecedents,consequents,antecedent support,consequent support,support,confidence,lift,leverage,conviction,antecedent_len,consequente_len
0,frozenset({'Firebird'}),frozenset({'Informix'}),0.025381,0.030457,0.025381,1.000000,32.833333,0.024608,inf,1,1
1,frozenset({'Informix'}),frozenset({'Firebird'}),0.030457,0.025381,0.025381,0.833333,32.833333,0.024608,5.847716,1,1
2,frozenset({'Firebird'}),frozenset({'SAP Adaptive Server'}),0.025381,0.060914,0.025381,1.000000,16.416667,0.023835,inf,1,1
3,frozenset({'SapHana'}),frozenset({'SAP Adaptive Server'}),0.025381,0.060914,0.025381,1.000000,16.416667,0.023835,inf,1,1
4,frozenset({'SAP Adaptive Server'}),frozenset({'Firebird'}),0.060914,0.025381,0.025381,0.416667,16.416667,0.023835,1.670776,1,1
5,frozenset({'SAP Adaptive Server'}),frozenset({'SapHana'}),0.060914,0.025381,0.025381,0.416667,16.416667,0.023835,1.670776,1,1
6,frozenset({'Informix'}),frozenset({'SAP Adaptive Server'}),0.030457,0.060914,0.025381,0.833333,13.680556,0.023525,5.634518,1,1
7,frozenset({'SAP Adaptive Server'}),frozenset({'Informix'}),0.060914,0.030457,0.025381,0.416667,13.680556,0.023525,1.662074,1,1
8,frozenset({'Solr'}),frozenset({'Cassandra'}),0.035533,0.055838,0.025381,0.714286,12.792208,0.023397,3.304569,1,1
9,frozenset({'Cassandra'}),frozenset({'Solr'}),0.055838,0.035533,0.025381,0.454545,12.792208,0.023397,1.768190,1,1
10,frozenset({'HBase'}),frozenset({'Solr'}),0.065990,0.035533,0.025381,0.384615,10.824176,0.023036,1.567259,1,1
11,frozenset({'Solr'}),frozenset({'HBase'}),0.035533,0.065990,0.025381,0.714286,10.824176,0.023036,3.269036,1,1
12,frozenset({'SapHana'}),frozenset({'IBM DB2'}),0.025381,0.096447,0.025381,1.000000,10.368421,0.022933,inf,1,1
13,frozenset({'IBM DB2'}),frozenset({'SapHana'}),0.096447,0.025381,0.025381,0.263158,10.368421,0.022933,1.322698,1,1
14,frozenset({'Firebird'}),frozenset({'IBM DB2'}),0.025381,0.096447,0.025381,1.000000,10.368421,0.022933,inf,1,1
15,frozenset({'IBM DB2'}),frozenset({'Firebird'}),0.096447,0.025381,0.025381,0.263158,10.368421,0.022933,1.322698,1,1
16,frozenset({'Hive'}),frozenset({'HBase'}),0.045685,0.065990,0.030457,0.666667,10.102564,0.027442,2.802030,1,1
17,frozenset({'HBase'}),frozenset({'Hive'}),0.065990,0.045685,0.030457,0.461538,10.102564,0.027442,1.772299,1,1

In [ ]:
#if you need to generate the rules in excel
#rules_filter = df2.to_excel('historical_filters.xlsx', index=False)